/* Variables */

:root {
    --background-lv0: #252527;
    --background-lv1: #303032;
    --background-lv2: #3b3b3d;

    --foreground: #eeeeee;
    --foreground-accent: #ffffff;

    --border: #414143;
    --border-accent: #4a4a4c;

    --button-background: #dd7a2f;
    --active-button-background: #e88a42;

    --button-border: #bb6624;
    --active-button-border: #c47030;

    --dimming: #00000090;
}

/* Global styles */

* {
    font-family: Roboto, sans-serif;

    color: var(--foreground);
}

img {
    object-fit: contain;
}

.hidden {
    display: none !important;
}

div.dimming {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: var(--dimming);
}

div.button {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-color: var(--button-background);

    border: 2px solid var(--button-border);
}

div.button:hover {
    background-color: var(--active-button-background);

    border: 2px solid var(--active-button-border);

    color: var(--foreground-accent);

    cursor: pointer;
}

/* Most upper-level containers */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;

    overflow: hidden;

    background-color: var(--background-lv0);
}

div#container {
    flex-grow: 1;
    position: relative;
}

div#container.move {
    cursor: move;
}

svg#canvas {
    display: inline;

    width: 100%;
    height: 100%;
}

/* User help */

div.help {
    display: grid;

    /* Some black magic to make grid adaptive */
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 49%), 1fr));

    padding: 8px;
    gap: 8px;
}

.help p {
    display: inline-block;

    margin: 0;
}

/* Nodes */

.node rect.machine {
    fill: #5a81ba;
}

.node rect.input-slot:nth-child(odd) {
    fill: #456799;
}

.node rect.input-slot:nth-child(even) {
    fill: #8BAADA;
}

.node rect.output-slot:nth-child(odd) {
    fill: #8BAADA;
}

.node rect.output-slot:nth-child(even) {
    fill: #456799;
}

.node rect.input-slot.missing {
    fill: #FF6363;
}

.node rect.output-slot.exceeding {
    fill: #9CEF9A;
}

.node rect.input-slot.missing:hover {
    fill: #cd4e4e;
}

.node rect.output-slot.exceeding:hover {
    fill: #74ce73;
}

/* Node links */

line.link-hint {
    stroke: var(--foreground-accent);
    stroke-width: 2px;
}

path.link {
    /* Twice the final result because outside part is clipped */
    stroke-width: calc(1px * 2);

    fill: #5B81BB;
    stroke: #8BAADA;

    opacity: 0.5;
}

/* Canvas controls */

div.controls {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 0;
    right: 0;

    padding: 8px;
    gap: 8px;
}

.controls div.row {
    display: flex;
    flex-direction: row;
    justify-content: end;

    gap: 8px;
}

.controls div.button {
    width: 56px;
    height: 56px;

    font-size: 14px;

    border-radius: 999px;
}

.controls .zoom-controls p#ratio-display {
    margin: 0;
}

/* Node creation modal */

div#node-creation-modal {
    display: flex;
    flex-direction: column;

    min-width: 80%;
    min-height: 80%;
    max-width: 80%;
    max-height: 80%;

    border-radius: 16px;

    background-color: var(--background-lv0);
}

@media screen and (max-width: 560px) {
    div#node-creation-modal {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;

        border-radius: 0;
    }
}

@media screen and (max-height: 560px) {
    div#node-creation-modal {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;

        border-radius: 0;
    }
}

#node-creation-modal div.title-row {
    display: flex;
    align-items: center;

    height: 64px;

    padding: 0 0 0 16px;
}

#node-creation-modal .title-row h2.title {
    flex-grow: 1;

    margin: 0;

    font-size: 20px;
    font-weight: 500;
}

#node-creation-modal .title-row div.close {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;

    border-radius: 0 16px 0 0;

    font-size: 20px;
    font-weight: 500;
}

#node-creation-modal .title-row div.close:hover {
    color: var(--foreground-accent);

    background-color: var(--background-lv1);

    cursor: pointer;
}

#node-creation-modal div.content {
    display: flex;
    flex-direction: column-reverse;

    flex-grow: 1;

    min-height: 0;
    min-width: 0;
}

#node-creation-modal div.columns {
    display: flex;
    flex-grow: 1;

    min-height: 0;

    padding: 0 16px 16px 16px;
    gap: 16px;
}

/* Node creation modal's tab selector */

#node-creation-modal div.tab-selectors-container {
    display: flex;

    max-width: calc(100% - 12px);
    min-height: 58px;

    overflow-y: visible;

    margin-bottom: -2px;
}

#node-creation-modal div#tab-selectors {
    display: flex;

    min-height: 58px;

    overflow-x: scroll;

    gap: 8px;
}

#node-creation-modal div.tab-selector {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    height: 56px;
    min-width: 100px;

    background-color: var(--background-lv1);

    border-radius: 8px 8px 0 0;
}

#node-creation-modal div.tab-selector:hover {
    background-color: var(--background-lv2);

    cursor: pointer;
}

#node-creation-modal div.tab-selector.active {
    /* Bigger than regular selector by 2 pixels to overlap tab border */
    height: 58px;

    background-color: var(--background-lv1);

    border: 2px solid var(--border);
    border-bottom: none;

    cursor: default;
}

#node-creation-modal .tab-selector img.machine-icon {
    height: 44px;
    width: 44px;
}

/* Node creation modal's recipe tabs */

#node-creation-modal div#recipe-tabs {
    display: flex;

    flex-grow: 1;

    max-width: 100%;
    min-height: 0;
}

#node-creation-modal div.recipes-tab {
    display: none;

    flex-grow: 1;

    max-width: 100%;
    min-height: 0;

    overflow-y: scroll;

    padding: 12px;
    gap: 12px;

    border: 2px solid var(--border);

    background-color: var(--background-lv1);

    border-radius: 0 8px 8px 8px;
}

#node-creation-modal div.recipes-tab.active {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#node-creation-modal .recipes-tab h3.group-title {
    margin: 0;

    font-size: 18px;
    font-weight: 400;
}

#node-creation-modal .recipes-tab div.group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#node-creation-modal div.recipe {
    display: flex;

    box-sizing: border-box;

    height: 64px;
    width: 64px;

    padding: 8px;
    gap: 4px;
}

#node-creation-modal div.recipe:hover {
    background-color: var(--background-lv2);

    cursor: pointer;
}

#node-creation-modal div.recipe.selected {
    background-color: var(--background-lv2);
}

#node-creation-modal .recipe img.item-icon {
    flex-grow: 1;

    min-width: 0;
}

/* Node creation modal's selected recipe */

#node-creation-modal div#selected-recipe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    align-self: stretch;

    min-width: 120px;
    max-width: 120px;

    gap: 4px;
}

#node-creation-modal #selected-recipe div.property {
    display: flex;
    flex-direction: column;

    gap: 2px;
}

#node-creation-modal #selected-recipe .property>div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-lv1);

    padding: 6px;
}

#node-creation-modal #selected-recipe .property>div:first-child {
    border-radius: 8px 8px 0 0;
}

#node-creation-modal #selected-recipe .property>div:last-child {
    border-radius: 0 0 8px 8px;
}

#node-creation-modal #selected-recipe .property div.title {
    font-weight: 500;
}

#node-creation-modal #selected-recipe .property div.text {
    text-align: center;
}

#node-creation-modal #selected-recipe .property div.resource {
    display: flex;

    gap: 8px;
}

#node-creation-modal #selected-recipe .property .resource img.icon {
    width: 32px;
    height: 32px;

    min-width: 0;
}

#node-creation-modal #selected-recipe .property .resource p.amount {
    margin: 0;
}

#node-creation-modal #selected-recipe .property .machine img.icon {
    width: 40px;
    height: 40px;

    min-width: 0;
}

/* Node creation modal's confirmation button */

#node-creation-modal div.button {
    margin-top: 10px;
    padding: 12px 0;

    border-radius: 8px;
}
