html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#container {
    flex-grow: 1;
}

#svg-container {
    display: inline;

    width: 100%;
    height: 100%;
}

rect.machine {
    fill: #5a81ba;
}

div.help {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 1rem;
}

div.help p {
    margin: 0;
    display: inline-block;
}

path.link {
    fill: #5B81BB7f;
    stroke: #8BAADA7f;
}
